<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap uap3 rescap">

  <Identity
    Name="TaskSwitcherWidgetProvider"
    Publisher="CN=TaskSwitcherWidgetProvider"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Task Switcher</DisplayName>
    <PublisherDisplayName>TaskSwitcherWidgetProvider</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Task Switcher"
        Description="Switch between open windows"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>

        <!-- Register the COM server so the widget host can activate the provider -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="TestWidgetProvider.exe"
                           Arguments="-RegisterProcessAsComServer"
                           DisplayName="Task Switcher">
              <com:Class Id="f8444433-3aa5-42a4-a496-5c2b36f3b3eb" DisplayName="TaskSwitcherWidgetProvider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

        <!-- Register as a widget provider -->
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="com.microsoft.windows.widgets"
            DisplayName="Task Switcher"
            Id="TaskSwitcherApp"
            PublicFolder="Public">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\StoreLogo.png" />
                </ProviderIcons>
                <Activation>
                  <CreateInstance ClassId="f8444433-3aa5-42a4-a496-5c2b36f3b3eb" />
                </Activation>
                <Definitions>
                  <Definition
                    Id="TaskSwitcher_Widget"
                    DisplayName="Task Switcher"
                    Description="Switch between open windows">
                    <Capabilities>
                      <Capability><Size Name="small" /></Capability>
                      <Capability><Size Name="medium" /></Capability>
                      <Capability><Size Name="large" /></Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="ProviderAssets\TaskSwitcher_Icon.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="ProviderAssets\TaskSwitcher_Screenshot.png" DisplayAltText="Task Switcher widget" />
                      </Screenshots>
                      <DarkMode />
                      <LightMode />
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>

      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
